*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f6e7;
}

#map {
  height: 40vh;
  margin-top: 2em;
}

footer{
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width:768px){

  #map {
    height: 60vh;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
  }
}